<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<httpProtocol>
				<customHeaders>
					<add name="Access-Control-Allow-Origin" value="*" />
					<add name="Access-Control-Allow-Headers" value="Content-Type" />
					<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
				</customHeaders>
			</httpProtocol>
			<aspNetCore processPath="dotnet" arguments=".\Forum.WebAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: a0f57890-3b65-4565-9799-98b56992b039-->